BOT_TOKEN=123456:replace-me
BOT_USERNAME=
ADMIN_IDS=123456789
DATABASE_URL=postgres://avnadmin:password@your-aiven-host.aivencloud.com:28969/defaultdb?sslmode=require
REQUIRED_CHANNEL_IDS=-1001234555,-1002203742882
REFERRAL_REWARD_POINTS=1
WITHDRAW_COST_POINTS=5
SUPPORT_STARS_AMOUNT=10
