BOT_TOKEN=123456:replace-me
ADMIN_IDS=123456789
DATABASE_URL=postgres://avnadmin:password@your-aiven-host.aivencloud.com:28969/defaultdb?sslmode=require
REQUIRED_CHANNEL_IDS=-1001234555,-1002203742882
